@font-face{
  font-family: "Ghibli";
  src: url("./Ghibli.ttf");
}

body {
  margin: 0;
  font-family: 'Ghibli';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size : 100% auto;
  background-color: #d3dbc5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
